.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  color: #686868;
  font-weight: 700;
}

.label-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-width: 1.5px;
  border-style: solid;
  border-color: #484848;
  border-radius: 12px;
  padding: 0 17px;
  height: 46px;

  &:hover {
    background-color: rgba(100, 100, 100, 0.08);
  }
}

.label-container_error {
  display: flex;
  align-items: center;
  gap: 10px;
  border-width: 1.5px;
  width: 100;
  border-radius: 12px;
  height: 46px;
  &:hover {
    background-color: rgba(100, 100, 100, 0.08);
  }
}

.input {
  color: rgba(72, 72, 72, 1);
  height: 43px;
  font-weight: 700;
  width: 100%;
  border: none;
  padding: 0 17px;
  border-radius: 12px;
  &:hover {
    background-color: transparent;
  }
  &::placeholder {
    font-weight: 700;
  }
  &:focus {
    outline: none;
  }
}

.labelErrorStyle {
  color: rgba(255, 0, 0, 0.7);
  font-weight: 700;
}

.inputErrorStyle {
  width: 100%;
  border-width: 1.5px;
  border-style: solid;
  border-color: #ff0000;
  height: 46px;
  border-radius: 12px;
  font-weight: 700;
  width: 100%;
  padding: 0 17px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: rgba(255, 0, 0, 0.5);
  }
}

.messageErrorStyle {
  color: rgba(255, 0, 0, 0.5);
  font-weight: 700;
}
