.main-btn {
  background-color: #204080;
  color: #fff;
  padding: 0.5rem 40px;
  border-radius: 15px;
  transition: ease-in-out;
  transition-duration: 200ms;
  cursor: pointer;
  outline: none;
  border: none;

  height: 46px;
}
.main-btn:hover {
  background-color: #4f75c2;
}
